.header{
    max-width:80rem;
    width: 100%;
    padding:20px 32px 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

     img{
        width:2rem;
        transition: transform 500ms;
        
    }
    img[src*="logo"]:hover{
        transform: rotate(45deg);   
    }
    img[src*="shopping"]:hover{
        transform: rotate(-30deg);
    }
    a{
        position: relative;
    }
    a span{
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        top:-8px;
        right:-8px;

        background-color: var(--sun);
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

}